SLCosmopolitan/SampleData/GridDataSource/GridDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.GridDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.GridDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GridDataSource" type="tns:GridDataSource" />
  <xs:complexType name="GridDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4" name="Id" type="xs:double" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>